*~
*.elc
auto-save-list
/url
/var
/backups
/elpa
/eshell
/.sx
.emacs.desktop*
places
recentf
history
bookmarks
/abbrev*
SessionDesktop.el
session*
custom.el
.DS_Store
helm-adaptive-history
srecode-map.el
semanticdb
projectile*

/.cask
/tramp
