/url
/var
/backups
/elpa
/eshell
/.sx

.emacs.desktop*
.places
places
projectile-bookmarks.eld
recentf
history
bookmarks
/abbrev*
SessionDesktop.el

custom.el
auto-save-list

*~
*.dat
*.elc

helm-adaptive-history
